.imagen-portada {
    background-image: url('../images/suyayPortada.jpg');
    background-size: cover;
    min-height:90%;

    /* Estilos para la vista de celular */
    @media (max-width: 768px) {

      background-position: center;
      min-height: 300px;
    }
  }
  